body {
    background-color: cadetblue;
}


#container {
    margin-top: 200px;
    justify-content: center;
    width: 80%;
    height: 100%;
    background-color: cornflowerblue;
    padding: 10px;
}
#question {
    color: black;
    font-weight:bold;
    font-size: 30px;
}
.btn-grid {
    display: grid;
    border: 2px;
    margin: 10px;
    grid-template-columns: repeat(2, auto); 
}
.btn {
    border-radius: 50px;
    width: auto;
    height: 40px;
    color: black;
}
.btn:hover {
    color: white;
    background-color: black;
}
#submit {
    text-decoration: burlywood;
    align-items: center;
}